<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>All products</title>
</head>

<body>
  <h1>Products</h1>
  <a href="http://localhost:6001/upload">add more</a>
  <div>
    <% for (const image of items) { %>
      <div class="container">
        <div>
          <img src="data:image/<%=image.img.contentType%>;base64,
                 <%=image.img.data.toString('base64')%>">
        </div>
        <div class="info">
          <h3>
            <%= image.name %>
          </h3>
          <h4>
            $<%= image.price %>
          </h4>
          <br />
          <p>
            <%= image.desc %>
          </p>

          <button><a href="http://localhost:6001/edit/<%=image._id%>">Edit</a></button>

        </div>
      </div>
      <% } %>
  </div>

</body>

</html>